a {
    color: #9FDEF9;
    text-decoration: none;
}

.footer {
    padding: 30px;
}

.footer p {
    text-align: center;
    line-height: 27px;
}

.footer span {
    color:#9FDEF9;
    text-decoration: none;;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-social-media-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-media-links > div {
    margin: 5px 10px;
}

.contract-link {
    text-decoration: underline;
    text-decoration-color: #64acff;
    word-break: break-all;
}